//
//  Secrets.xcconfig
//  Stitcher
//
//  Created by Andrew Johnson on 2/3/19.
//  Copyright © 2019 Meaningless. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SPOTIFY_CLIENT_ID = ""
SPOTIFY_CLIENT_SECRET = ""
