//
//  Secrets.xcconfig
//  Stitcher
//
//  Created by Andrew Johnson on 2/3/19.
//  Copyright © 2019 Meaningless. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SPOTIFY_CLIENT_ID = 1a0445c72ddd4934a8835cef2baf1a0c
SPOTIFY_CLIENT_SECRET = 4ce8e7cec0824e0890d4484bfbee57a5
